{% extends 'dapps/base.html' %}

{% block content %}
 <div class="row justify-content-center">

	<div class="col-9" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

		<div class="card border-light mb-3 mt-4" style="max-width: 120rem;">
		  <div class="card-body">
		    <h4 class="card-title" style="font-family:  Arial;">{{ object.firstname }} {{ object.lastname }}</h4>
		    <h6 class="card-subtitle mb-2 text-muted">Profile Information</h6>

		    <hr/>
		    <br/>
		    <p class="card-text">
		    	<div class="row g-3">
					  <div class="col-3">
					    <p  style="font-family:  Arial;"><strong>ID Number: </strong></p>
					    <p  style="font-family:  Arial;"><strong>Month of Benefit: </strong></p>
					    <p style="font-family:  Arial;"><strong>Phone Number: </strong></p>
					  </div>
					  <div class="col-2">
					    <p> {{ object.id_number }}</p>
		    			<p> {{ object.monthofbenefit }}</p>
		    			<p> {{ object.phone }}</p>
					  </div>
				</div>
		    	
		    </p>
		    <a href="#" class="card-link">Edit Profile</a>
		    
		  </div>
		  <br/>
		  
		

		  
		  <div class="card-body">
		    <h4 class="card-title text-muted"> {{ object.lastname }}'s Financial Information </h4>
		    <br/>
		    <br/>
		    <p class="card-text">
		<ul class="nav nav-tabs" role="tablist">
			  <li class="nav-item" role="presentation">
			    <a class="nav-link active" data-bs-toggle="tab" href="#saving" aria-selected="true" role="tab">Savings</a>
			  </li>
			  <li class="nav-item" role="presentation">
			    <a class="nav-link" data-bs-toggle="tab" href="#loans" aria-selected="false" tabindex="-1" role="tab">Loans</a>
			  </li>
		 
		</ul>
		<div id="myTabContent" class="tab-content">
		  <div class="tab-pane fade show active" id="saving" role="tabpanel">
		  	<p>
			  	{% if object.savings %}
			    <table class="table table-hover">

					<thead>

					    <tr>	
					    	<th scope="col"> Transaction Type</th>
					    	<th scope="col"> Deposit Date</th>
					    	<th scope="col"> Savings Amount </th>
					    	<th scope="col"> Total Savings </th>
					    	
					    </tr>
					</thead>
					<tbody>


					  {% for saving in object.savings %}

					   	<tr>
					    	
					    	<td>{{saving.transaction_type}}</td>
					    	<td>{{saving.deposit_date}}</td>
					    	<td>{{saving.deposit_amount}}</td>
					    	<td>{{saving.deposit_date}}</td>
					     	
					    </tr>	    

					  {% endfor %}
					</tbody>  
				{% else %}
					<h5 class="alert alert-primary ms-4 me-4">No Savings Records Found</h5>
				{% endif %}	
			</table>
			
		  </div>

		  <div class="tab-pane fade" id="loans" role="tab">

		    {% if object.loans %}
		    <table class="table table-hover">

				<thead>

				    <tr>	
				    	<th scope="col"> Names </th>
				    	<th scope="col"> Amount </th>
				    	<th scope="col"> Issue Date </th>
				    	<th scope="col"> Return Date </th>
				    	<th scope="col"> Remarks </th>
				    	
				    </tr>
				</thead>
				<tbody>


				  {% for loan in object.loans %}

				   	<tr>
				    	
				    	<td>{{ object.firstname }} {{ object.lastname }}</td>
				    	<td>{{loan.loanamount}}</td>
				    	<td>{{loan.issue_date}}</td>
				    	<td>{{loan.return_date}}</td>
				    	<td>{{loan.remarks}}</td>
				     	
				    </tr>	    

				  {% endfor %}
				</tbody>  
			{% else %}
				<h5 class="alert alert-primary ms-4 me-4">No Loan Records Found</h5>
			{% endif %}	

		</table>

		
		
		  </div>
		  
		</div>
		  </div>
		<button onclick="window.print()"> Print </button>  
	</div>

</div>					
{% endblock %}
